
    .mail {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 400px;
    background : rgb(216, 230, 27);
    border: 2px soild silver;
    border-radius: 10px;
    box-shadow: 2px 2px 0 0 black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
 .list_data{
     padding-left: 10px;

     
 }
 .list_data_li{
     list-style: none;
 }
    